/ball1.jpeg
/ball2.jpeg
/cat.jpg
/Cat02.jpg
/check.jpg
/check.py
/city.py
/dog.jpg
/flower.jpg
/Human.py
/ibud_tmuna
/lesson1.py
/main.py
/read_vid_blue.py
/recBall.py
/__pycache__
/מדענים ומפתחים צעירים 2023.pdf
/שאלות ל SHOOTER.pdf